body {
    background-image: url("../images/background3.jpg");
    background-size: cover;
}

#vaultName {
  margin: 0 auto;
  margin-top: 10px;
  width: 400px;
  text-align: center;
  font-size: 55px;
  color: #0066cc;
  padding: 10px;
  font-family: calibri;
  background-color: #cccccc;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-transform: uppercase;
  text-decoration: underline;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes shakeY {
  0%, 100% {transform: translateY(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateY(-10px);}
  20%, 40%, 60%, 80% {transform: translateY(10px);}
}
.shakeY {
  animation-name: shakeY;
}

@keyframes shakeX {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-20px);}
  20%, 40%, 60%, 80% {transform: translateX(20px);}
}
.shakeX {
  animation-name: shakeX;
}

#blueVaultContainer {
    width: 445px;
    height: 495px;
    background: #0066cc;
    padding: 10px;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.GreyVaultContainer {
    width: 400px;
    height: 365px;
    background: #cccccc;
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding 0px;
    margin: auto;
}

.GreyVaultContainer .light {
    background: black;
    width: 200px;
    float: left;
    height: 50px;
}

.GreyVaultContainer .light.red {
    background: red;
    filter: brightness(30%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.GreyVaultContainer .light.green {
    background: green;
    filter: brightness(30%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.GreyVaultContainer .light.blink {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.clearfix {
    clear: both;
}

.codeBox {
    color: #0066cc;
    text-align: center;
    font-size: 100px;
    margin: 4px auto;
    font-family: calibri;
    height: 120px;
}

.blackBox {
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

#vaultButton1 > button {
    background: #0099cc;
    cursor: pointer;
    color: white;
    font-family: calibri;
    width: 129px;
    height: 70px;
    border: none;
    margin: 3px;
    margin-left: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 40px;
    float: left;
}

#vaultButton1 > button:hover {
    background: #0066cc;
}

#vaultButton2 > button {
    background: #0099cc;
    cursor: pointer;
    color: white;
    font-family: calibri;
    width: 129px;
    height: 70px;
    border: none;
    margin: 3px;
    font-size: 40px;
    float: left;
}

#vaultButton2 > button:hover {
    background: #0066cc;
}

#vaultButton3 > button {
    background: #0099cc;
    cursor: pointer;
    color: white;
    font-family: calibri;
    width: 129px;
    height: 70px;
    border: none;
    margin: 3px;
    margin-right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 40px;
    float: left;
    cursor: pointer;
}

#vaultButton3 > button:hover {
    background: #0066cc;
}

.vaultNotif {
    color: #0066cc;
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    padding-bottom: 3px;
}
